.btn{
    background:none;
    border:none;
    outline:none;
    font-size: 1.4rem;
    font-weight: 600;
    color:var(--text-dark);
    padding:.5rem 1rem;
    border-radius: 10rem;
    margin-right: 1rem;
    text-align: center;
    border:1px solid var(--primary--dark);
    transition:all .1s ease-in-out;
    cursor:pointer;
}
.btn:hover{
    background:var(--primary--dark);
}
.hamburger{
    width:3rem;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
    cursor:pointer;
    position:absolute;
    right:4rem;
    display: none;
}
.hamburger:hover .bar:nth-child(2){
    transform:translateX(2px);
}
.hamburger:hover .bar:nth-child(1){
    transform:translateY(-2px);
}
.hamburger:hover .bar:nth-child(3){
    transform:translateY(2px);
}

.bar{
    width:100%;
    height:2px;
    background:var(--primary--dark);

}

.btn.active{
    background:var(--primary--dark);
}