*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width:.5rem;
    height:.5rem;
}
::-webkit-scrollbar-thumb{
    background:var(--primary--dark);
}
::-webkit-scrollbar-track{
    background:var(--secondary--dark);
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font);
    color: var(--text-dark);
    font-size: 1.6rem;
    background-color:var(--bg--dark);
    position: relative;
    font-weight: 300;
    user-select: none;
}
svg {
    height: 4rem;
    width: 4rem;
    position:relative;
}